<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">

  <title>Admin Dashboard</title>
</head>
<body>
  <%- include('partials/header') %>
  <h1>Admin Dashboard</h1>
  <div id="results">
    <%- if (votes) { %>
      <h2>Vote Counts</h2>
      <ul>
        <% votes.forEach(vote => { %>
          <li><strong><%= vote._id %>:</strong> <%= vote.count %> votes</li>
        <% }) %>
      </ul>
    <%- } else { %>
      <p>No votes have been cast yet.</p>
    <%- } %>
  </div>
  <%- include('partials/footer') %>
</body>
</html>
